<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Js | <%= title %></title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/">Blog Jayden</a>
      <p>a Net Azimut Site for Node JS</p>
    </div>
    <ul>
      <li><a href="/">blogs Home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <div class="about content">
    <h2>About US</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium tempore quidem neque. Totam illo amet dolor officia quod fugit expedita dolores, odio id doloremque culpa laudantium et. Rerum, sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium tempore quidem neque. Totam illo amet dolor officia quod fugit expedita dolores, odio id doloremque culpa laudantium et. Rerum, sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium tempore quidem neque. Totam illo amet dolor officia quod fugit expedita dolores, odio id doloremque culpa laudantium et. Rerum, sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium tempore quidem neque. Totam illo amet dolor officia quod fugit expedita dolores, odio id doloremque culpa laudantium et. Rerum, sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium tempore quidem neque. Totam illo amet dolor officia quod fugit expedita dolores, odio id doloremque culpa laudantium et. Rerum, sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium tempore quidem neque. Totam illo amet dolor officia quod fugit expedita dolores, odio id doloremque culpa laudantium et. Rerum, sunt.</p>
  </div>
</body>
</html>